@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: 'ARBONNIE';
  src: url("../fonts/ARBONNIE.ttf") format("truetype"); }

.dashboard__content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(100% - 300px);
  margin-left: 300px; }
