.card-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  .card-list__box {
    position: relative;
    flex: 1 0 auto;
    max-width: calc(33% - 30px);
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(55, 55, 55, 0.2);
    border: solid 1px rgba(55, 55, 55, 0.6);
    transition: all .25s ease-in; }
    .card-list__box:hover {
      box-shadow: 0 0 15px rgba(55, 55, 55, 0.5); }
  .card-list:last-child:after {
    content: '';
    flex: auto; }
  .card-list__closer {
    position: absolute;
    right: -6px;
    top: -10px;
    font-size: 20px;
    cursor: pointer;
    color: #e30000; }

.contentEditor__inputDescription {
  margin-bottom: 0; }
