@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: 'ARBONNIE';
  src: url("../fonts/ARBONNIE.ttf") format("truetype"); }

.dashboard__panel {
  min-height: 100vh;
  background: linear-gradient(135deg, white 0%, #dfe5d7 40%, #b3bead 100%);
  display: flex; }
  .dashboard__panel section {
    margin-left: 300px; }
