@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// dashboard panel
$dashboard-panel-background-color: #ddd;

// sidebar
$standard-sidebar-width: 300px;


$theme-color-green: #bdbf92;
