body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

a {
  color: #fff;
  transition: all .3 ease-in-out;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
.padding-box-large {
  padding-top: 25px;
}

.shape {
  position: relative;
  &-part {
    content: '';
    height: 90px;
    width: 350px;
    background: red;
    position: absolute;
  }
  &__top {
    &-left {
      left: 213px;
      top: 275px;
      display: block;
      transform: rotate(-45deg);
    }
    &-right {
      left: 395px;
      top: 275px;
      display: block;
      transform: rotate(45deg);
    }
  }

  &__bottom {
    &-left {
      top:584px;
      left: 212px;
      transform: rotate(45deg);
    }
    &-right {
      top:584px;
      left: 395px;
      transform: rotate(-45deg);
    }
  }

}

.addictiv {
  &__close {
    position: fixed;
    right: 35px;
    top: 35px;
    height: 50px;
    width: 50px;
    z-index: 1000;
    &:hover {
      cursor: pointer;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 5px;
      background-color: #000;
      display: block;
      transform: rotate(45deg);
      margin-left: 25px;
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &__page-number {
    position: absolute;
    right: 35px;
    bottom: 35px;
  }

  &__background {
    position: fixed;
    height: 100vh;
    transform: rotate(45deg);
    margin-left: -30%;
    opacity: .03;
    z-index: -100;
    display: block;
    top: 0;
    left: 0;
  }
}



@import 'object_blog-post.scss';
@import 'object_herobanner.scss';
@import 'object_nav.scss';
@import 'object_map.scss';
@import 'object_galleryImage.scss';

@import 'page_blog.scss';
@import 'page_homepage.scss';
@import 'page_about.scss';
@import 'page_gallery.scss';

@import 'dashboard_logIn.scss';
