.nav {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer; }
  .nav__buttonPart {
    display: block;
    height: 5px;
    width: 50px;
    background-color: #fff;
    margin-bottom: 10px; }
  .nav__menuBox {
    display: none; }
