@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: 'ARBONNIE';
  src: url("../fonts/ARBONNIE.ttf") format("truetype"); }

#logoClipPath {
  transform-origin: 50% 50%;
  transform: rotate(45deg); }

.blog-post {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 50px 0; }
  .blog-post:last-of-type {
    margin-bottom: 0; }
  .blog-post__separator {
    position: absolute;
    width: 15vw;
    transform: translate(-50%, -80%);
    left: 50%; }
  .blog-post__coverBox {
    position: relative;
    float: left;
    height: 100vh;
    width: 50%; }
    .blog-post__coverBox:hover .coverBox__image {
      filter: blur(1px) grayscale(0.7); }
    .blog-post__coverBox .coverBox__link {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      font-size: 30px;
      color: #fff;
      width: 100%;
      height: 70px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5); }
    .blog-post__coverBox .coverBox__image {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: filter 0.3s ease-in-out; }
    .blog-post__coverBox .coverBox__mirror {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("../img/cover1.jpg");
      transform: rotate(180deg);
      background-size: cover;
      background-position: center; }
  .blog-post__contentBox {
    position: relative;
    z-index: 10;
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #e3e3e3;
    box-shadow: -6px 0 20px rgba(0, 0, 0, 0.5); }
  .blog-post__content {
    padding: 0 35px; }
  .blog-post__title {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-bottom: 30px; }
  .blog-post__date {
    float: right; }
    .blog-post__date div {
      text-align: right;
      font-size: 12px; }
  .blog-post hr {
    clear: both; }
  .blog-post__tags ul {
    padding: 0; }
    .blog-post__tags ul li {
      padding: 2px 5px;
      margin: 0 5px;
      display: inline-block;
      list-style: none;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      transition: all .3s ease-in-out; }
      .blog-post__tags ul li:hover {
        color: #bdbf92;
        cursor: default; }
  .blog-post__timeLine {
    position: relative;
    margin-left: 50px;
    font-family: 'Lato';
    font-weight: 300;
    margin-top: 25px; }
  .blog-post__stage {
    padding: 15px 0; }
  .blog-post__page-number {
    position: absolute;
    bottom: 35px;
    right: 35px;
    letter-spacing: 5px;
    font-size: 25px; }
    .blog-post__page-number span:not(:first-of-type) {
      font-size: 12px; }
  .blog-post__description {
    font-size: 12px;
    font-weight: 300; }

.stage__bullet {
  margin-top: 3px;
  width: 11px;
  height: 11px;
  border: 1px solid #000;
  border-radius: 50%;
  float: left; }
  .stage__bullet:before, .stage__bullet:after {
    content: '';
    position: absolute;
    display: block;
    background: #000;
    height: 25px;
    width: 1px;
    margin-top: -35px;
    margin-left: 4px; }
  .stage__bullet:after {
    margin-top: 18px; }

.stage__date {
  position: absolute;
  left: -40px;
  margin-top: 15px;
  font-size: 12px; }

.stage__place {
  margin-left: 25px;
  font-size: 30px;
  margin-top: -15px; }
  .stage__place span {
    display: inline-block;
    font-size: 15px;
    padding-left: 25px; }
