@import 'imports.scss';
.nav {
  position: fixed;
  z-index: 100000;
  right: 0;
  top:0;

  &.active {
    .nav__menuBox {
        display: block;
    }

    .nav__buttonPart {
      display: none;
      transition: all .3s ease-in-out;
      top:15px;

      &:first-child {
        transform: rotate(0deg);
        display: block;
      }
      
      &:hover &:first-child {
        transform: rotate(0deg);
      }

      &:last-child {
        transform: rotate(0deg);
        display: block;
      }
      
      &:hover:last-child {
        transform: rotate(45deg);
      }
    }

    .nav__background, .nav__shadowBackground {
      width: $half-of-screen;
      height: 100vh;
      background-color: $theme-color-green;
      right: 0;
      top: 0;
      display: block;
    }

    .nav__shadowBackground {
      background-color: $theme-color-green;
      opacity: .3;
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
  }

  &__buttonPart {
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #fff;
    margin-bottom: 10px;

    &:nth-child(2n) {
      top: 15px;
    }

    &:nth-child(3n) {
      top: 30px
    }
  }

  &__menuBox {
    display: none;
    position: absolute;
    top: 150px;
    right: 50px;
    text-align: right;
    color: #fff;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
  }

  &__menu {
    list-style: none;
  }

  &__menuItem {
    padding: 0px 0;
  }

  &__background {
    display: none;
  }

  &__shadowBackground {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -111;
  }
}
