@import 'imports.scss';
#logoClipPath {
  transform-origin: 50% 50%;
  transform: rotate(45deg);


}
.blog-post {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 50px 0;
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    padding: 0 25px;
  }

  &__separator {
    position: absolute;
    width: 15vw;
    transform: translate(-50%, -80%);
    left: 50%;
  }

  &__coverBox {
    position: relative;
    float: left;
    height: 100vh;
    width: 50%;
    &:hover .coverBox__image {
      filter: blur(1px) grayscale(0.7);
    }

    .coverBox__link {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      font-size: 30px;
      color: #fff;
      width: 100%;
      height: 70px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,.5);
    }

    .coverBox__image {
      position:relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: filter 0.3s ease-in-out;
    }

    .coverBox__mirror {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("../img/cover1.jpg");
      transform: rotate(180deg);
      background-size: cover;
      background-position: center;
    }
  }

  &__contentBox {
    position: relative;
    z-index: 10;
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #e3e3e3;
    box-shadow: -6px 0 20px rgba(0, 0, 0, 0.5);
  }

  &__content {
    padding: 0 35px;
  }

  &__title {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  &__date {
    div {
      text-align: right;
      font-size: 12px;
    }
  }

  hr {
    clear: both;
  }

  &__tags {
    ul {
      padding: 0;

      li {
        padding: 2px 5px;
        margin: 0 5px;
        display: inline-block;
        list-style: none;
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        transition: all .3s ease-in-out;
        &:hover {
          color: $theme-color-green;
          cursor: default;
        }
      }
    }
  }

  &__distance {
    text-align: right;
  }
  
  &__timeLine {
    position: relative;
    margin-left: 50px;
    font-family: 'Lato';
    font-weight: 400;
    margin-top: 25px;
  }

  &__stage {
    padding: 15px 0;
  }

  &__page-number {
    position: absolute;
    bottom: 35px;
    right: 35px;
    letter-spacing: 5px;
    font-size: 25px;

    span:not(:first-of-type) {
      font-size: 12px;
    }
  }

  &__description {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
.stage {
  &__bullet {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border: 1px solid #000;
    border-radius: 50%;
    float: left;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      background: #000;
      height: 25px;
      width: 1px;
      margin-top: -35px;
      margin-left: 4px;
    }

    &:after {
      margin-top: 18px;
    }
  }

  &__date {
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    margin-top: 15px;
    font-size: 12px;
  }

  &__title {
    margin-left: 25px;
    font-size: 30px;
    font-weight: 500;
    margin-top: -15px;

    span {
      display: inline-block;
      font-size: 15px;
      padding-left: 25px;
    }
  }
  &__subtitle {
    margin-left: 25px;
  }
}
