@import "imports.scss";

.gallery-image {
  position: relative;
  display: block;
  text-align: center;
  margin: 40px 0;

  &__imgBox {
    position: relative;
    margin: auto;
    display: inline-block;
  }

  &__holder {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 2px;
    height: 100px;
    background: #000;
    z-index: -10000;
    transform: rotate(180deg) translateY(100%);
  }

  &__separator {
    position: absolute;
    left: 5%;
    top:30%;

    &:after {
      content: '';
      width: 100vw;
      height: 1px;
      left:-20px;
      margin-top:15px;
      opacity: .7;
      background-color: $theme-color-green;
      display: block;
      position: absolute;
    }
  }

  &__title {
    position: absolute;
  }

  &__place {
    position: absolute;
  }

  &__img {
    max-width: 50vw;
    max-height: 50vh;
  }

}

.gallery-image--featured {
  display: block;
  margin: 120px 0;

  .gallery-image {
    &__title {
      left: 50px;
      top: -70px;
      font-size: 70px;
    }

    &__place {
      right: 50px;
      bottom: -30px;
    }

    &__imgBox {
      display: block;
    }
    &__img {
      width: 100%;
      height: calc(100vh - 240px);
      background-position: center;
      background-size: cover;
      max-width: none;
      max-height: none;
      display: block;
    }
  }
}

.gallery-image--right {

  & > div:not(:first-of-type) {
    transform: translateX(15%);
  }

  .gallery-image {
    &__title {
      right: -11px;
      transform-origin: 100% ;
      transform: rotate(90deg) translateX(100%);
    }

    &__place {
      right: -11px;
      transform-origin: 100% ;
      transform: rotate(90deg) translateX(100%);
      bottom: 0;
    }
  }
}

.gallery-image--left {
  & > div {
    transform: translateX(-15%);
  }
  .gallery-image {
    &__title {
      left: -11px;
      transform-origin: 0 ;
      transform: rotate(-90deg) translateX(-100%);
    }

    &__place {
      left: -11px;
      transform-origin: 0 ;
      transform: rotate(90deg) translateX(-100%);
      bottom: 0;
    }

  }
}
