@import 'imports.scss';
.nav {
  $nav: &;
  position: fixed;
  z-index: 100000;
  right: 0;
  top: 0;

  &.active {
    overflow: hidden;
    #{$nav}__menuBox {
        z-index: 1000000;
        display: block;
    }

    #{$nav}__buttonPart {
      display: none;
      transition: all .3s ease-in-out;
      top:15px;

      &:nth-child(1) {
        transform: rotate(0deg);
        display: block;
      }

      &:nth-child(3) {
        transform: rotate(0deg);
        display: block;
      }
    }

    #{$nav}__button {
      &:hover #{$nav}__buttonPart {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          top:15px;
          transform: rotate(-45deg);
        }
      }
    }

    #{$nav}__background, #{$nav}__shadowBackground {
      width: $half-of-screen;
      height: 100vh;
      background-color: $theme-color-green;
      right: 0;
      top: 0;
    }

    #{$nav}__shadowBackground {
      background-color: $theme-color-green;
      opacity: .3;
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    right: $nav-from-right;
    top: $nav-from-right;

    &:hover {
      #{$nav}__buttonPart {
        &:nth-child(2) {
          top: 0;
        }
        &:nth-child(3) {
          top: 30px
        }
      }
      #{$nav}__buttonTitle {
        bottom: -15px;
      }
    }
  }

  &__buttonPart {
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    top: 15px;
    transition: all .3s ease-in-out;
  }

  &__buttonTitle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    transition: all .3s ease-in-out;
  }

  &__menuBox {
    display: none;
    position: absolute;
    top: calc(#{$nav-from-right} * 3);
    right: $nav-from-right;
    text-align: right;
    color: #fff;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
  }

  &__menu {
    list-style: none;
  }

  &__menuItem {
    padding: 0;

    &:after {
      content: '';
      position: absolute;
      display: block;
      right: -$nav-from-right;
      margin-top: -2rem;
      width: calc(100% + #{$nav-from-right});
      height: 0;
      background-color: rgba(255,255,255,0.1);
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      &:after {
        height: 10px;
      }
    }
  }

  &__background {
    &-enter {
      opacity: 0.01;
      transform: scale(0.7) translate(20%, -50%);

    }

    &-enter-active {
      opacity: 1;
      transform: scale(1.5) translate(0%, 0%);
      transition: all 0.5s ease-out;
    }
  }

  &__shadowBackground {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -111;

    &-enter {
      opacity: 0.01;
      transform: scale(0.9) translate(20%, -50%);
    }

    &-enter-active {
      opacity: 1;
      transform: scale(1.5) translate(0%, 0%);
      transition: all 0.3s ease-out;
    }
  }
}
