.about {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .about__title {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25px;
    top: calc(50% - 20px); }
  .about__page-number {
    position: absolute;
    right: 15px;
    bottom: 15px; }
