.about {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__title {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25px;
    top:calc(50% - 20px);
  }

}
